@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #B5CCD5;
    color: #407076;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2{
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-weight: 600;

}

.regions-btn{
    margin-bottom: 5vw;
}
button{
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #97B1A6;
    border: 1px dotted #407076;
}

button:hover{
    cursor: pointer;
    background-color: #407076;
}

#myChart{
width:50vw;
}

.countriesBtnDiv{
    padding: 5vw;
}
.countriesBtnDiv button{
    padding: 5px;
    margin: 5px;
    background-color: #97C4B9;
}